<a href="https://colab.research.google.com/github/mohanveeramanikantak/FMML-Lab-Work/blob/main/pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to **Python**

## What is Python?
Python is a high-level, interpreted programming language known for its simplicity and readability. It was created by Guido van Rossum and first released in 1991. Python's design philosophy emphasizes code readability and simplicity, making it a popular choice for beginners and experienced developers alike.

## Key Features of Python
- **Easy to Learn and Use**: Python's syntax is straightforward, making it an excellent choice for beginners.
- **Interpreted Language**: Python code is executed line by line, which makes debugging easier.
- **Dynamically Typed**: You don't need to declare the type of variable when you write code. The interpreter infers the type at runtime.
- **Extensive Standard Library**: Python has a rich set of libraries and frameworks that support various applications.
- **Cross-Platform**: Python runs on various platforms, including Windows, macOS, and Linux.
- **Community Support**: Python has a large and active community that contributes to its development and provides support through forums and tutorials.

# What are Variables?
## Variables are containers for storing data values. In Python, you don’t need to declare a variable with a specific data type.

In [ ]:
x = 5
name = "Alice"
is_active = True
# print(x) #Reassigning Variables
# x = 10
# print(x)

# IDENTIFIERS

## Rules for Identifiers in Python
- Must Begin with a Letter or an Underscore (_):

  An identifier can start with a letter (a-z, A-Z) or an underscore (_).
Examples: variable, _variable, Variable
- Followed by Letters, Digits, or Underscores:

  After the initial character, the identifier can contain letters, digits (0-9), or underscores.
Examples: var1, my_variable, var_2
- Case-Sensitive:

  Identifiers are case-sensitive, which means variable, Variable, and VARIABLE are different identifiers.
Examples: myVar, MyVar, myvar

- Cannot Be a Keyword:

  Identifiers cannot be the same as Python keywords. Keywords are reserved words in Python that have special meanings.
Examples of keywords: if, else, while, for, break, class, try, except, etc.

- No Special Characters Other Than Underscores:

  Identifiers cannot contain special characters like !, @, #, $, %, ^, &, *, -, +, etc.

  Invalid examples: my-var, var@name, name!

# KEY WORDS

## **False**: Boolean value indicating false.
## **None**: Represents the absence of a value.
## **True:** Boolean value indicating true.
## **and:** Logical operator that returns true if both operands are true.
## **as:** Used to create an alias while importing a module.
## **assert:** Used for debugging purposes to check if a condition is true.
## **async:** Declares an asynchronous function.
## **await:** Waits for the result of an async function.
## **break:** Terminates the nearest enclosing loop.
## **class:** Defines a new class.
## **continue:** Skips the rest of the code inside a loop for the current iteration only.
## **def:** Defines a new function.
## **del:** Deletes an object.
## **elif:** Else if condition, used in conditional statements.
## **else:** Used in conditional statements to provide an alternative block of code if the condition is false.
## **except:** Catches exceptions in a try block.
## **finally:** Executes code after try and except blocks, regardless of whether an exception was raised or not.
## **for**: Used to create a for loop.
## **from**: Imports specific parts of a module.
## **global**: Declares a global variable.
## **if**: Used to create a conditional statement.
## **import**: Imports a module.
## in: Checks if a value is present in a sequence (like a list, tuple, string, etc.).
## **is**: Tests object identity.
## **lambda**: Creates an anonymous function.
## **nonlocal**: Declares a non-local variable.
## **not**: Logical operator that returns true if the operand is false.
## **or**: Logical operator that returns true if at least one operand is true.
## **pass**: Does nothing, can be used as a placeholder.
## raise: Raises an exception.
## **return**: Exits a function and returns a value.
## **try**: Specifies a block of code to test for errors.
## **while**: Creates a while loop.
## **with**: Simplifies exception handling by encapsulating common preparation and cleanup tasks.
## **yield**: Used inside a function like a return statement, but returns a generator.

# COMMENTS

 Comments in Python are used to explain the code, make it more readable, and prevent execution of code. They are ignored by the Python interpreter, meaning they do not affect the execution of the program. There are two types of comments in Python: single-line comments and multi-line comments.Using Comments for Documentation
 Comments can also be used to provide documentation within your code, helping others understand what the code does, why certain decisions were made, or to mark sections of the code.

- **Single-Line Comments**:

Single-line comments start with a hash character (#) and extend to the end of the line. They are typically used for brief explanations or notes about the code.

In [ ]:
# This is a single-line comment
print("Hello, World!")  # This is an inline comment

- **Multi-Line Comments**:

Python does not have a specific syntax for multi-line comments like some other programming languages (e.g., /* ... */ in C/C++). Instead, multi-line comments are created by using multiple single-line comments or triple-quoted strings (which can also be used as docstrings, although docstrings are usually used to document functions, classes, and modules).

In [ ]:
# This is a multi-line comment
# written using multiple
# single-line comments
print("Hello, World!")

- **Using Triple-Quoted Strings**:

Triple-quoted strings (either ''' ... ''' or """ ... """) can be used to create multi-line comments. However, their primary use is for docstrings to document functions, classes, and modules.

In [ ]:
"""
This is a multi-line comment.
It spans multiple lines.
Using triple-quoted strings.
"""
print("Hello, World!")

# Python Data Types
- NUMERICAL
- SEQUENCE
- MAPPING
- SET
- BOOLEAN
-BINARY
-TEXT


## NUMERICAL:
### INTEGER
 Python has three main numerical data types: Integer, Float, and Complex.

In [ ]:
age = 25
temperature = -5
count = 0
print(age, temperature, count)  # Output: 25 -5 0
print(type(age))

25 -5 0
<class 'int'>

### FLOAT
A float is a number that includes a decimal point. It represents real numbers and is used for precise calculations.

In [ ]:
height = 5.9
pi = 3.14159
weight = 70.5
print(height, pi, weight)  # Output: 5.9 3.14159 70.5

5.9 3.14159 70.5

### Complex
A complex number consists of a real part and an imaginary part, represented as a + bj, where a is the real part and b is the imaginary part.

In [ ]:
complex_number1 = 2 + 3j
complex_number2 = 1 - 4j
print(complex_number1, complex_number2)  # Output: (2+3j) (1-4j)

(2+3j) (1-4j)

## MAPPING:
In Python, the primary mapping data type is the dictionary. A dictionary is an unordered collection of key-value pairs. Each key-value pair maps the key to its associated value. Keys in a dictionary must be unique and immutable (e.g., strings, numbers, tuples), whereas values can be of any type and can be duplicated.
### Dictionary
Creating a Dictionary
You can create a dictionary using curly braces {} or the dict() function.


Some useful dictionary methods include:
- keys(): Returns a view object containing the keys of the dictionary.
- values(): Returns a view object containing the values of the dictionary.
- items(): Returns a view object containing the key-value pairs of the dictionary.

In [ ]:
# Using curly braces
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Using the dict() function
person = dict(name="Alice", age=30, city="New York")

# SEQUENCE
In Python, sequence data types are used to store collections of items in a specific order. The main sequence data types in Python are:

- List
- Tuple
- Range

##1. List

  A list is an ordered, mutable collection of items. Lists can contain items of different data types.

In [ ]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "hello", 3.14, True]

## 2. Tuple

  A tuple is an ordered, immutable collection of items. Once a tuple is created, you cannot change its values.

In [ ]:
colors = ("red", "green", "blue")
coordinates = (10.0, 20.0)

## 3. Range:

  A range represents an immutable sequence of numbers and is often used for looping a specific number of times in for loops.

In [ ]:
for i in range(5):
    print(i)  # Output: 0 1 2 3 4

List: Mutable, ordered collection of items.


Tuple: Immutable, ordered collection of items.


Range: Immutable sequence of numbers, often used in loops.


String: Immutable sequence of characters, used to store text.

## BOOLEAN
In Python, the Boolean data type is used to represent one of two values: True or False. Booleans are commonly used in conditional statements and control flow to determine the truthiness of an expression or variable.

In [ ]:
is_sunny = True
is_raining = False
print(is_sunny)  # Output: True
print(is_raining)  # Output: False

# BINARY
In Python, binary data types are used to handle binary data, which is typically non-textual and consists of bytes. The main binary data types in Python are:

- bytes
- bytearray
- memoryview

In [ ]:
b = b'Hello, World!'
print(b[0])    # Output: 72 (ASCII value of 'H')
print(b[1:5])  # Output: b'ello'

# SET
In Python, sets are unordered collections of unique elements.

There are two main set types:
- set
- frozenset.

## 1. set
A set is a mutable, unordered collection of unique elements. Sets are useful for membership testing, removing duplicates from a sequence, and mathematical operations like union, intersection, difference, and symmetric difference.

In [ ]:
# Using curly braces
fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'apple', 'banana', 'cherry'}

# Using the set() constructor
numbers = set([1, 2, 3, 4, 4, 2])
print(numbers)  # Output: {1, 2, 3, 4}

##2. frozenset
  
  
  A frozenset is an immutable version of a set. Once created, elements cannot be added or removed from a frozenset. It is useful when you need a set that should not change.

In [ ]:
# Using frozenset() constructor
immutable_fruits = frozenset(["apple", "banana", "cherry"])
print(immutable_fruits)  # Output: frozenset({'apple', 'banana', 'cherry'})

# OPERATORS
Python has a variety of operators that are used to perform operations on variables and values

- Arithmetic
- Assignment
- Comparison
- Logic
- Identity
- Membership
- Bitwise

##1. Arithmetic Operators:
These operators are used to perform mathematical operations.

Addition


Subtraction


Multiplication


Division


Modulus

Exponentiation

Floor Division

In [ ]:
a = 10
b = 3

print(a + b)   # Output: 13
print(a - b)   # Output: 7
print(a * b)   # Output: 30
print(a / b)   # Output: 3.3333333333333335
print(a % b)   # Output: 1
print(a ** b)  # Output: 1000
print(a // b)  # Output: 3

## 2. Comparison Operators:
These operators are used to compare two values and return a Boolean result.

== : Equal to


!= : Not equal to


(> ): Greater than


< : Less than


(>=): Greater than or equal to


<= : Less than or equal to

In [ ]:
a = 10
b = 3

print(a == b)  # Output: False
print(a != b)  # Output: True
print(a > b)   # Output: True
print(a < b)   # Output: False
print(a >= b)  # Output: True
print(a <= b)  # Output: False

 ##3. Logical Operators:
These operators are used to perform logical operations and return a Boolean result.

and : Returns True if both statements are true


or : Returns True if one of the statements is true


not : Reverses the result, returns False if the result is true

In [ ]:
x = True
y = False

print(x and y)  # Output: False
print(x or y)   # Output: True
print(not x)    # Output: False

## 4. Bitwise Operators:
These operators are used to perform bit-level operations on integers.

& : AND


| : OR


^ : XOR


~ : NOT


<< : Zero fill left shift


(>>) : Signed right shift

In [ ]:
a = 10  # 1010 in binary
b = 4   # 0100 in binary

print(a & b)  # Output: 0
print(a | b)  # Output: 14
print(a ^ b)  # Output: 14
print(~a)     # Output: -11
print(a << 1) # Output: 20
print(a >> 1) # Output: 5

## 5. Assignment Operators:
These operators are used to assign values to variables.

= : Assign


+= : Add and assign


-= : Subtract and assign


*= : Multiply and assign


/= : Divide and assign


%= : Modulus and assign


**= : Exponentiation and assign


//= : Floor division and assign

In [ ]:
a = 10
a += 3  # Equivalent to a = a + 3
print(a)  # Output: 13

a -= 2  # Equivalent to a = a - 2
print(a)  # Output: 11

a *= 2  # Equivalent to a = a * 2
print(a)  # Output: 22

a /= 4  # Equivalent to a = a / 4
print(a)  # Output: 5.5

a %= 3  # Equivalent to a = a % 3
print(a)  # Output: 2.5

a **= 2  # Equivalent to a = a ** 2
print(a)  # Output: 6.25

a //= 2  # Equivalent to a = a // 2
print(a)  # Output: 3.0

13
11
22
5.5
2.5
6.25
3.0

## 6.membership Operators:
These operators are used to test if a sequence contains a value.

in : Returns True if a sequence with the specified value is present in the object


not in : Returns True if a sequence with the specified value is not present in the object

In [ ]:
x = ["apple", "banana", "cherry"]

print("banana" in x)  # Output: True
print("mango" not in x)  # Output: True

True
True

## 7. Identity Operators:
These operators are used to compare the memory locations of two objects.

is : Returns True if both variables are the same object


is not : Returns True if both variables are not the same object

In [ ]:
x = ["apple", "banana", "cherry"]
y = ["apple", "banana", "cherry"]
z = x

print(x is z)  # Output: True
print(x is y)  # Output: False
print(x == y)  # Output: True
print(x is not y)  # Output: True
print(x is not z)  # Output: False

# CONDITIONS

In Python, conditions are used to execute code based on whether certain criteria are met. This is typically done using if, elif, and else statements. You can also use conditional expressions and ternary operators for concise conditional logic. Here’s a comprehensive overview of different types of conditional constructs in Python:

## 1. if Statement:

  The if statement evaluates a condition and executes the block of code if the condition is True.

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")

## 2. if-else Statement:

  The if-else statement provides an alternative block of code to execute if the condition is False.

In [ ]:
x = 4

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

## 3. if-elif-else Statement:

  The if-elif-else statement allows you to check multiple conditions. It executes the block of code for the first condition that is True. If none of the conditions are True, it executes the else block.

In [ ]:
x = 7

if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is 7")
else:
    print("x is less than 10 and not 7")

## 4. Nested if Statements:

  You can nest if statements within another if statement to check multiple conditions.

In [ ]:
x = 15
y = 10

if x > 10:
    if y > 5:
        print("x is greater than 10 and y is greater than 5")
    else:
        print("x is greater than 10 but y is not greater than 5")
else:
    print("x is not greater than 10")

x is greater than 10 and y is greater than 5

**Summary:**


- if Statement: Executes a block of code if the condition is True.
- if-else Statement: Provides an alternative block of code if the condition is False.
- if-elif-else Statement: Checks multiple conditions in sequence.
- Nested if Statements: Used to check multiple conditions within each other.

## 5. Conditional Expressions (Ternary Operator)

### Conditional expressions allow you to evaluate conditions in a single line. This is useful for simple conditional assignments.

In [ ]:
x = 6
result = "x is add" if x % 2 == 0 else "x is odd"
print(result)  # Output: x is odd

x is add

# LOOPS

### In Python, loops are used to execute a block of code repeatedly until a certain condition is met. There are two primary types of loops in Python: for loops and while loops. Each has its specific use cases and syntax.

- for loop
- while loop

**for loop**

### A for loop is used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code for each element in the sequence.

## Syntax
### for i in range():

Using range() to generate a sequence of numbers

In [ ]:
for i in range(5):
    print(i)

## while loop

A while loop repeatedly executes a block of code as long as a given condition is true.

## syntax

### while condition:

In [ ]:
count = 0 #initilizing value
while count < 5:
    print(count)
    count += 1  #increment

0
1
2
3
4

# Functions

###In Python, you define functions using the def keyword followed by the function name, parentheses, and a colon. The body of the function is indented

### syntax
#### def function_name(parameters):

     <!-- Function body

     Optional return statement -->

In [ ]:
def greet():
    print("Hello, world!")

greet()  # Output: Hello, world!

In [ ]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)  # Output: 8

# List Methods


append()-Adds an element at the end of the list


clear()-Removes all the elements from the list


copy()-Returns a copy of the list


count()-Returns the number of elements with the specified value


extend()-Add the elements of a list (or any iterable), to the end of the current list


index()-Returns the index of the first element with the specified value


insert()-Adds an element at the specified position

pop()-Removes the element at the specified position

remove()-Removes the item with the specified value

reverse()-Reverses the order of the list

sort()-Sorts the list

len()-Returns the number of elements in the list.

## append

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

## extend

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)  # Output: [1, 2, 3, 4, 5]

## insert

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 'a')
print(my_list)  # Output: [1, 'a', 2, 3]

## remove

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # Output: [1, 3, 2]

## pop

In [ ]:
my_list = [1, 2, 3]
element = my_list.pop(1)
print(element)  # Output: 2
print(my_list)  # Output: [1, 3]

## clear

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # Output: []

## count

In [ ]:
my_list = [1, 2, 3, 2]
count = my_list.count(2)
print(count)  # Output: 2

## sort

In [ ]:
my_list = [3, 1, 4, 2]
my_list.sort()
print(my_list)  # Output: [1, 2, 3, 4]

# Sort in reverse order
my_list.sort(reverse=True)
print(my_list)  # Output: [4, 3, 2, 1]

## reverse

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # Output: [3, 2, 1]

## length

In [ ]:
my_list = [1, 2, 3]
length=len(my_list)
print(length) #output:3

3

# Insertion in list

- append(): Adds an element to the end of the list.
- insert(index, element): Inserts an element at a specified index.

# Deletion in list

- remove(element): Removes the first occurrence of a specified element.
- pop(index): Removes and returns the element at the specified index (default is the last element).
- clear(): Removes all elements from the list.

# set Methods

add()- Adds an element to the set.

remove()-Removes a specific element from the set. Raises a KeyError if the element is not found.

discard()-Removes a specific element from the set, but does not raise an error if the element is not found.

pop()-Removes and returns an arbitrary element from the set.

clear()-Removes all elements from the set.

union()-Returns a set containing all elements from both sets.

intersection()-Returns a set containing only elements that are common in both sets.

##Insertion

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

##Deletion

In [ ]:
# Remove
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4}

# Discard
my_set.discard(2)
print(my_set)  # Output: {1, 4}

# Pop
element = my_set.pop()
print(my_set)  # Output: {4}
print(element)  # Output: 1

# Clear
my_set.clear()
print(my_set)  # Output: set()

# Dictionary Methods

dict[key] = value-Adds a key-value pair to the dictionary.

pop(key)-Removes the key and returns its value.

del dict[key]-Deletes a key-value pair.

clear()-Removes all items from the dictionary.

keys()-Returns a view object of all the keys in the dictionary.

values()-Returns a view object of all the values in the dictionary.

items()-Returns a view object of all the key-value pairs in the dictionary.
python

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and value

get()	Returns the value of the specified key

popitem()	Removes the last inserted key-value pair

##Inserting

In [ ]:
my_dict = {'a': 1, 'b': 2}

# Insert
my_dict['c'] = 3
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

##Deleting

In [ ]:
# Pop
value = my_dict.pop('b')
print(my_dict)  # Output: {'a': 1, 'c': 3}
print(value)  # Output: 2

# Delete
del my_dict['a']
print(my_dict)  # Output: {'c': 3}

# Clear
my_dict.clear()
print(my_dict)  # Output: {}

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Keys
print(my_dict.keys())  # Output: dict_keys(['a', 'b', 'c'])

# Values
print(my_dict.values())  # Output: dict_values([1, 2, 3])

# Items
print(my_dict.items())  # Output: dict_items([('a', 1), ('b', 2), ('c', 3)])

##Tuples Methods

count()-Returns the number of times a specified value occurs in a tuple

index()-Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)